main#gamePage {
    @include _flex(column, center, center);
    min-height: calc(100vh - 10rem);
    @media (max-width: $sm) {
        width: auto;
    }
    section.matchCard {
        max-width: 900px;
        min-width: 280px;
    }
}