# backend host/port
REACT_APP_API_HOST=127.0.0.1
REACT_APP_API_PORT=1337

# 42 intra app
CLIENT_ID=
CLIENT_SECRET=
CALLBACK=/auth/login

# jwt
JWT_ACCESS_SECRET=96416050d726516311603f64a78bce906226dbcd926ee218c8b506872b398c70

# jwt ExpiresIn (eg: 30m, 24h, 365d)
JWT_ACCESS_EXP=10000000000s

# database configs
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_NAME=nest
DB_HOST=localhost

# appname used for two-factor authentication
TFA_APPNAME=PingPong

# do not change this line, put your info above
DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"