section#friendsManager {
    @include _flex(column, center, center);
    nav.headerNav {
        width: 100%;
        overflow-x: auto;
        padding: .5rem 0;
        margin-bottom: .5rem;
        @media (max-width: $md) {
            zoom: .95;
        }
        @media (max-width: $sm) {
            zoom: .9;
            width: 100%;
            min-width: 300px;
        }
        ul.navTabs {
            @include _flex(row, space-between, center);
            list-style: none;
            li {
                @include _flex(row, center, center);
                @include _roundedButtonStyle($txtcolor: $light1, $bgcolor1: $dark3, $bgcolor2: $dark3);
                @include _selectionOff();
                font-size: $fsize;
                font-family: $MFont;
                margin: 0 .25rem;
                width: 100%;
                svg {
                    margin-right: .5rem;
                }
            }
            li.active {
                background: $light4;
            }
        }
    }
    .body {
        width: 100%;
        .grid {
            @include _flex(row, flex-start, flex-start);
            flex-wrap: wrap;
            height: 100%;
            padding: .5rem;
            @media (max-width: $xs) {
                justify-content: center;
            }
            .empty {
                @include _flex(column, center, center);
                @include _selectionOff();
                width: 100%;
                height: 100%;
                margin: auto;
                img {
                    width: 45%;
                    @media (max-width: $md) {
                        width: 75%;
                    }
                    @media (max-width: $sm) {
                        width: 65%;
                    }
                    @media (max-width: $xs) {
                        width: 80%;
                    }
                }
                h5 {
                    text-transform: capitalize;
                    position: relative;
                    bottom: 1.5rem;
                    font-family: $BFont;
                    font-size: $fsize * 1.75;
                    color: $light4;
                    margin-top: .5rem;
                    max-width: 18rem;
                    text-align: center;
                    line-height: 1.2;
                }
            }
            .friendCard {
                @media (max-width: 475px) {
                    max-width: 15rem;
                }
                @media (min-width: 476px) {
                    width: calc(100% / 2.25)!important;
                }
                @media (min-width: 680px) {
                    width: calc(100% / 3.5)!important;
                }
                @media (min-width: $lg) {
                    width: calc(100% / 3.33)!important;
                }
                @media (min-width: $xl) {
                    width: calc(100% / 4.51)!important;
                }
            }
        }
    }
}