@mixin _rankStyle($color) {
    border-left: 5px solid $color;
    border-right: 5px solid $color;
    .rank path{
        color: $color;
    }
    #circleAvatar {
        border-color: $color;
    }
}

#leaderBoardPage {
    .container {
        @include _selectionOff();
        @media (max-width: $sm) {
            width: auto;
            padding: 0;
        }
    }
    .sectionTitle {
        @include _flex(row, center, center);
        max-width: 15rem;
        margin: 1.5rem auto;
        svg {
            font-size: $fsize * 3.3;
            path {
                color: $gold;
            }
        }
        h2 {
            margin-left: .5rem;
            font-family: $XBFont;
            color: $light3;
            text-transform: uppercase;
            font-size: $fsize * 2.2;
            line-height: .8;
            width: min-content;
        }
        @media (max-width: $sm) {
            margin-bottom: .5rem;
            h2 {
                font-size: $fsize * 1.5;
            }
            svg {
                font-size: $fsize * 2.25;
            }
        }
    }
    table {
        @media (max-width: $sm) {
            padding: 1rem;
        }
        @media (max-width: 365px) {
            width: auto!important;
            padding: .5rem;
        }
        overflow: hidden;
        margin: 1rem auto;
        td {
            text-align: center;
        }
        thead {
            padding: 0;
            tr {
                border-radius: 1rem;
                @include _flex(row, space-between, center);
                padding: 1rem;
                margin: .25rem 0;
                background-color:$light4;
                @media (max-width: $xs) {
                    padding: .5rem;
                }
                th {
                    font-family: $BFont;
                    font-size: $fsize * 1.07;
                    @media (max-width: $xs) {
                        font-size: $fsize * .85;
                    }
                    @media (max-width: 365px) {
                        font-size: $fsize * .6;
                        min-width: 5rem!important;
                    }
                }
                :nth-child(1) {
                    min-width: 5rem;
                }
                :nth-child(2) {
                    width: 100%;
                }
                :nth-child(3) {
                    min-width: 7rem;
                }
            }
        }
        tbody {
            padding: 0;
            tr {
                @include _flex(row, space-between, center);
                margin: .5rem 0;
                border-radius: 1rem;
                padding: .5rem 1rem;
                background-color:$dark3;
                font-size: $fsize;
                width: auto;
                @media (max-width: $xs) {
                    padding: .25rem .5rem;
                }
                .rank span {
                    color: $light3;
                }
                :nth-child(1) {
                    min-width: 5rem;
                    max-width: 7rem;
                    font-size: $fsize * 1.25;
                    font-family: $BFont;
                    @media (max-width: $xs) {
                        font-size: $fsize * .95;
                        min-width: 4rem;
                    }
                    @media (max-width: 365px) {
                        font-size: $fsize * .85;
                        min-width: 3rem;
                    }
                }
                :nth-child(2) {
                    width: 100%;
                    cursor: pointer;
                    @include _flex(row, flex-start, center);
                    #circleAvatar {
                        border: .185rem solid $light3;
                        @media (max-width: $xs) {
                            @include _square(2rem);
                        }
                        @media (max-width: 365px) {
                            @include _square(1.25rem);
                            border-width: .1rem;
                        }
                    }
                    .fullName {
                        @include _textOverflow(10rem);
                        font-family: $BFont;
                        font-size: $fsize * 1.05;
                        margin-left: .75rem;
                        @media (max-width: $xs) {
                            font-size: $fsize * .85;
                        }
                        @media (max-width: 365px) {
                            font-size: $fsize * .7;
                        }
                    }
                }
                :nth-child(3) {
                    min-width: 7rem;
                    @include _flex(row, flex-end, center);
                    span.score {
                        @include _flex(row, center, center);
                        width: 2.5rem;
                        color: $light2;
                        background: $light4;
                        padding: 0.15rem 0.25rem;
                        border-radius: 1rem;
                        @media (max-width: $xs) {
                            font-size: $fsize * .85;
                        }
                        @media (max-width: 365px) {
                            font-size: $fsize * .7;
                        }
                    }
                    @media (max-width: 365px) {
                        min-width: auto!important;
                    }
                }
            }
            #_1 {
                @include _rankStyle($gold);
            }
            #_2 {
                @include _rankStyle($silver);
            }
            #_3 {
                @include _rankStyle($bronze);
            }
        }
    }
}