.sent {
    margin: .4rem;
    @include _flex(row-reverse, right, flex-start);
    span.msg, span.first_msg {
        overflow: hidden;
        padding: 0.5rem .75rem;
        max-width: 69%;
        background-color: $light6;
        font-size: $fsize * .9;
        font-family: $MFont;
        border-radius: 1rem .25rem 1rem 1rem;
    }

    #circleAvatar {
        margin-left: .5rem;
        border: 3px solid $light6;
    }

    span.first_msg {
        margin-right: 2.75rem;
        border-radius: 1rem;
    }

    i {
        @include _flex(row, center, center);
        @include _square(1.5rem);
        cursor: pointer;
        display: none;
        position: relative;
        right: -.5rem;
        top: -.25rem; 
        border: .2rem solid $dark3;
        font-size: $fsize * .75;
        background-color: $purple;
        border-radius: 5rem;
    }

    &:hover > i {
        display: flex;
    }
}

.receive {
    margin: .4rem;
    @include _flex(row, left, flex-start);
    span.msg, span.first_msg {
        padding: 0.5rem .75rem;
        max-width: 69%;
        overflow: hidden;
        background-color: rgba($purple, .75);
        font-size: $fsize * .9;
        font-family: $MFont;
        border-radius: .25rem 1rem 1rem 1rem;
    }

    #circleAvatar {
        margin-right: .5rem;
        border: 3px solid $light4;
    }
    span.first_msg {
        margin-left: 2.75rem;
        border-radius: 1rem;
    }
}

.mtop {
    margin-top: 1.5rem;
}

span.deleted {
    @include _selectionOff();
    color: $light3;
    svg path {
        fill: $light3;
    }
    font-size: $fsize * .75;
}

.msgNotif {
    @include _selectionOff();
    margin: .75rem auto;
    font-size: $fsize * .8;
    padding: .25rem 1rem;
    background-color: rgba($dark2, .75);
    max-width: max-content;
    border-radius: 5rem;
    span {
        color: $light3;
    }
}