CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=http://10.12.8.7:3001/auth/login

JWT_ACCESS_SECRET=passcode
JWT_ACCESS_EXP=1000000s 

DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_NAME=nest
DB_HOST=localhost

# appname used for two-factor authentication
TFA_APPNAME=

# do not change this line, put your info above
DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"
