CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=http://127.0.0.1:3001/auth/login

JWT_ACCESS_SECRET=c1b8aa8461e4511a519fd8cc56b4b773dab094f6e719e350af8220f374fbf9f2
JWT_ACCESS_EXP=1000000s 

DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_PORT=5432
DB_NAME=nest
DB_HOST=localhost

# appname used for two-factor authentication
TFA_APPNAME=

# do not change this line, put your info above
DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"
