# backend host/port
HOST=
PORT=

# 42 intra app
CLIENT_ID=
CLIENT_SECRET=
CALLBACL=/auth/login

# jwt
JWT_ACCESS_SECRET=
JWT_ACCESS_EXP=

# database configs
DB_USERNAME=
DB_PASSWORD=
DB_PORT=
DB_NAME=
DB_HOST=

# appname used for two-factor authentication
TFA_APPNAME=

# do not change this line, put your info above
DATABASE_URL="postgresql://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"
