section.matchCard {
    @include _flex(row, space-between, center);
    cursor: pointer;
    width: 95%;
    padding: 1rem;
    margin: .5rem auto;
    border-radius: 1rem;
    background-color: $light4;
   .player {
    @include _flex(row, center, center);

        .avatar {
            @include _flex(column, center, center);
            position: relative;
            #circleAvatar {
                border: .25rem solid $dark3;
            }
        }
        .fullName {
            font-size: $fsize * 1.2;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: center;
            width: 10rem;
            max-width: 10rem;
            margin: 0 .5rem;
            color: $light2;
        }
    }
    .scoreBoard {
        @include _flex(row, center, center);
        background-color: $dark3;
        border-radius: 5rem;
        height: 2.5rem;
        .gameType {
            width: 4rem;
            background-color: $dark3;
            padding: .5rem;
            border-radius: 50%;
        }
        .score {
            font-size: $fsize * 1.75;
            font-family: $BFont;
            margin: auto 1rem;
            width: 2rem;
            text-align: center;
        }
    }
}