
span#circleAvatar {
    position: relative;
    display: block;
    background-color: $light1;
    background-size: cover;
    border-radius: 10rem;
    background-position: center;
    i {
        position: absolute;
        bottom: 1%;
        right: 1%;
        min-width: 15%!important;
        max-width: 15%!important;
        min-height: 15%;
        max-height: 15%;
        border-radius: 100%;
        border: .15rem solid rgba($dark1, .75);
    }
    .online {
        background-color: $green;
    }
}