@import "./chat_room/chat_room";
@import "./chatroom_item/chatroom_item";


main#chatPage {
    .chat {
        background-color: $light4;
        border-radius: .75rem;
        margin-top: 4rem;
        overflow: hidden;
        .col {
            padding: 0;
            border-left: .5px solid $dark3;
        }
        .chatSearch {
            
        }
        .chatOptions{

        }
        .chatRooms {
            margin-bottom: .5rem;
        }
    }
}