@import "./chat_room/chat_room";
@import "./chatroom_item/chatroom_item";
@import "./chat_msg/chat_msg";


main#chatPage {
    * {
        transition: .5s ease all;
    }
    .container {
        @media (max-width: $sm) {
            width: auto;
            padding: 0;
        }
    }
    .chat {
        @media (min-width: $lg) {
            width: 85%;
            margin: 2rem auto;
        }
        @media (max-width: $xs) {
            border-radius: 0;
            margin: 0;
            zoom: .85;
        }
        background-color: $light4;
        border-radius: .75rem;
        margin-top: 2rem;
        overflow: hidden;
        .col {
            padding: 0;
            border-left: .5px solid $dark3;
        }
        .chatOptions{
            @include _flex(row, space-between, center);
            padding: 1rem .5rem;
            #chatSearch {
                @include _flex(row, flex-start, center);
                width: 100%;
                input {
                    width: 100%;
                    display: block;
                    padding: .5rem 1rem;
                    padding-left: 2rem;
                    background-color: $dark3;
                    border: none;
                    border-radius: 50rem;
                    outline: none;
                    font-size: $fsize * .9;
                }
                svg {
                    position: absolute;
                    padding-left: .55rem;
                    path{
                        color: $light2;
                    }
                }
            }
            #newMessage {
                @include _flex(row, center, center);
                cursor: pointer;
                border: none;
                background-color: $dark3;
                padding: .5rem;
                border-radius: 100%;
                min-width: 2.3rem;
                min-height: 2.3rem;
                margin-left: .5rem;
                svg {
                    font-size: $fsize;
                }
            }
            #newMessage:hover {
                background-color: $dark2;
            }
        }
        .chatRooms {

            overflow-y: scroll;
            max-height: calc(100vh - 15rem);
            margin-bottom: .5rem;
        }
    }
}