div#chatRoomItem {
    @include _flex(row, space-between, center);
    @include _selectionOff();
    cursor: pointer;
    padding: 0.25rem;
    margin: .2rem;
    border-radius: 0.5rem;
    div.dataColumn {
        width: 100%;
        margin: .3rem;
        margin-left: .75rem;
        @include _flex(column, space-between, space-between);
        .dataRow {
            @include _flex(row, space-between, center);
            .userName {
                font-family: $BFont;
                color: $light1;
                font-size: $fsize * .85;
            }
            .time {
                color: $light2;
                width: 4rem;
                text-align: end;
                font-size: $fsize * .65; 
            }
            p.lastMsg {
                @include _textOverflow(10rem);
                color: $light2;
                font-size: $fsize * .7;
            }
            span.nbNotifs {
                display: block;
                max-height: 1rem;
                padding: .07rem .3rem;
                background-color: $purple;
                border-radius: 5rem;
                font-size: $fsize * .6;
                font-family: $MFont;
            }
        }
    }
}

div.active {
    background-color: $light5;
}