@import "./game_card/game_card";
@import "./live_games_card/live_games_card";

main#homePage {
    min-height: calc(100vh - 10rem);
    .container {
        @media (max-width: $xs) {
            padding: 0;
        }
    }
    > div.container {
        * {
            transition: .5s ease all;
        }
        @include _flex(column, center, center);
        min-height: calc(100vh - 10rem);
        margin-top: 2rem;
        @media (max-width: $xs) {
            justify-content: flex-start;
        }
    }
    .center {
        @include _flex(row, center, center);
        width: 100%;
        .sectionTitle {
            @include _flex(row, center, center);
            max-width: 15rem;
            margin: 1.5rem auto;
            svg {
                font-size: $fsize * 3.3;
                path {
                    color: $gold;
                }
            }
            h2 {
                margin-left: .5rem;
                font-family: $XBFont;
                color: $light3;
                text-transform: uppercase;
                font-size: $fsize * 2.2;
                line-height: .8;
                width: min-content;
            }
            @media (max-width: $sm) {
                margin-bottom: .5rem;
                h2 {
                    font-size: $fsize * 1.5;
                }
                svg {
                    font-size: $fsize * 2.25;
                }
            }
        }
        .searchForm {
            .searchInput {
                width: 100%;
            }
        }
    }
    
}
