section#chatRoom {
    width: 100%;
    height: 100%;
    background-color: $dark3;
    @include _flex(column, space-between, center);
    div#chatRoomHeader {
        @include _flex(row, flex-start, center);
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        background-color: $light4;
        width: 100%;
        #circleAvatar {
            margin-left: 1rem
        }
        .dataRow {
            @include _flex(column, center, left);
            margin-left: 1rem;
            .userName {
                font-family: $BFont;
                color: $light1;
                font-size: $fsize * .85;
            }
            .status {
                color: $light2;
                font-size: $fsize * .7;
                max-width: 10rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

    }
    div#chatRoomBody {
        //TO DO
    }
    div#chatRoomFooter {
        @include _flex(row, center, center);
        width: 100%;
        background-color: $light4;
        form#messageForm {
            @include _flex(row, flex-end, center);
                width: 100%;
                margin: 1rem;
                input {
                    width: 100%;
                    display: block;
                    padding: .75rem 1.25rem;
                    padding-right: 6rem;
                    font-size: $fsize;
                    background-color: $dark3;
                    border: none;
                    border-radius: 50rem;
                    outline: none;
                    font-size: $fsize * .9;
                }
                ::placeholder {
                    color: $light3;
                }
        }
        button#sendMessage {
            @include _flex(row, space-evenly, center);
            cursor: pointer;
            border: none;
            background-color: $purple;
            font-family: $BFont;
            padding: .5rem;
            border-radius: 50rem;
            min-width: 5.25rem;
            min-height: 2.3rem;
            margin-left: .5rem;
            position: absolute;
            margin-right: .25rem;
            svg {
                font-size: $fsize;
            }
        }
    }
}