section#chatRoom {
    width: 100%;
    height: 100%;
    background-color: $dark3;
    @include _flex(column, space-between, center);
    div#chatRoomHeader {
        @include _flex(row, space-between, space-between);
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        background-color: $light4;
        width: 100%;
        div.dataColumn {
            width: 100%;
            @include _flex(row, space-between, space-between);
            .dataRow {
                @include _flex(column, center, left);
                padding-left: 0.9rem;
                .userName {
                    font-family: $BFont;
                    color: $light1;
                    font-size: $fsize * .85;
                }
                .status {
                    color: $light2;
                    font-size: $fsize * .7;
                    max-width: 10rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .options {
                    @include _flex(row, center, left);
                    >div{
                        @include _flex(row, center, center);
                        width: 1.9rem;
                        height: 1.9rem;
                        margin: 0rem 0.2rem;
                        padding: .1rem .1rem;
                        background-color: $dark3;
                        border-radius:50%;
                        font-size: $fsize * .6;
                        font-family: $MFont;
                    }
                }
            }
        }

        div.img {
            padding-left: 0.4rem;
        }

    }
    div#chatRoomBody {
        
    }
    div#chatRoomFooter {
        @include _flex(row, center, center);
        width: 100%;
       
        form{
            margin : 10px;
            position: relative;
            width: 90%;
            height: 50px;
            box-sizing: border-box;
            border-radius: 25px;
            border: 4px solid white;
            padding: 5px;
            display: block;
            cursor: pointer;
            @include _flex(row, space-between, center);
            input{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                color: #000;
                height: 42.5px;
                line-height: 30px;
                outline: 0;
                border: 0;
                display: block;
                font-size: 1em;
                border-radius: 20px;
            }
            .icon {
                box-sizing: border-box;
                align-items:center;
                justify-content:center;
                display: flex;
                width: 42.5px;
                background: $dark2;
                height: 42.5px;
                position: absolute;
                right: 0;
                border-radius: 50%;
                svg path {
                    color: $light3;
                }
            }
        }
        
    }
}