section#chatRoom {
    width: 100%;
    height: 100%;
    background-color: $dark3;
    @include _flex(column, space-between, center);
    div#chatRoomHeader {
        @include _flex(row, center, space-between);
        background-color: $light4;
        width: 100%;

    }
    div#chatRoomBody {
        
    }
    div#chatRoomFooter {
        @include _flex(row, center, center);
        background-color: $light4;
        width: 100%;
    }
}