.friendCard {
    @include _flex(column, flex-start, center);
    @include _selectionOff();
    background-color: $light4;
    margin: .25rem;
    border-radius: 1rem;
    padding: 1rem .5rem;
    min-width: 10rem;
    width: 100%;
    .friendInfos {
        @include _flex(column, center, center);
        width: 100%;
        .avatar {
            @include _flex(column, center, center);
            position: relative;
            #circleAvatar {
                border: .25rem solid $dark3;
            }
            .ranking {
                @include _flex(column, center, center);
                background-color: $dark3;
                position: absolute;
                bottom: -.25rem;
                width: 3rem;
                border-radius: 5rem;
                font-size: $fsize * .75;
                font-family: $BFont;
                border: 0.15rem solid $light4;
            }
        }
        > h6 {
            @include _textOverflow(calc(80%));
            font-family: $MFont;
            text-transform: capitalize;
            color: $light2;
            font-size: $fsize * 1.11;
            margin: .25rem auto;
            margin-top: 1rem;
            line-height: 1,
        }
        > span {
            @include _textOverflow(calc(75%));
            font-size: $fsize * .75;
            text-transform: lowercase;
            color: $light3;
        }
    }
    .buttons{
        @include _flex(column, space-evenly, center);
        margin-top: .75rem;
        height: 100%;
        .btnAccept {
            @include _roundedButtonStyle($txtcolor: $light1, $bgcolor1: rgba($purple, .5), $bgcolor2: $purple);
        }
        .btnDecline, .btnCancle, .btnPending {
            @include _roundedButtonStyle($txtcolor: $light1, $bgcolor1: rgba($dark1, .5), $bgcolor2: $dark2);
        }
        .btnBlock {
            @include _roundedButtonStyle($txtcolor: $light1, $bgcolor1: rgba($red, .45), $bgcolor2: rgba($red, .55));
        }
        .btnUnblock, .btnUnfriend {
            @include _roundedButtonStyle($txtcolor: $light1, $bgcolor1: rgba($light2, .85), $bgcolor2: rgba($light3, .75));
            color: $dark3;
            path {
                color: $dark3;
            }
        }
        button {
            min-width: 8rem;
            margin: .25rem auto;
            transition: .3s ease all;
            svg {
                margin-right: .5rem;
                font-size: $fsize * .9;
            }
        }
        >:hover {
            background-color: $dark1;
        }
    }
   
}
