header#navbar {
    background-color: $dark2;
    width: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include _selectionOff();
    @include _gradientBg($light4, $dark2, 145);
    div.container {
        @media (max-width: 576px) {
            width: auto;
        }
    }
    #brand {
        @include _flex(row, flex-start, center);
        @media (max-width: $sm) {
            justify-content: center;
        }
        align-items: center;
        a {
            text-decoration: none;
            color: $light1;
            font-size: $fsize * 1.8;
        }
    }
    #Menu {
        #navMenu {
            list-style: none;
            @include _flex(row, flex-end, center);
            @media (max-width: $sm) {
                justify-content: space-evenly;
                margin-top: 1rem;
            }

            li {
                padding: .5rem .8rem;
                @media (max-width: 330px) {
                    padding: .2rem .55rem;
                }
                a#navBtn {
                    @include _flex(row, center, flex-start);
                    font-size: $fsize * 1.25;
                    text-decoration: none;
                    svg path {
                        color: $light3;
                    }
                    h3 {
                        color: $light3;
                        font-size: $fsize;
                        margin-left: .5rem;
                        @media (max-width: $xs) {
                            display: none;
                        }
                    }
                    @media (max-width: $xs) {
                        font-size: $fsize * 1.5;
                    }
                }
                a.active {
                    svg path {
                        color: $light2!important;
                    }
                    h3 {
                        color: $light2!important;;
                    }
                    border-color: $light2!important;
                }
                a#profileNavBtn {
                    @include _flex(column, center, center);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: $light3;
                    border-radius: 100%;
                    border: .2rem solid $light3;
                    #circleAvatar {
                        @media (max-width: 330px) {
                            min-width: 2rem!important;
                            min-height: 2rem!important;
                            max-width: 2rem!important;
                            max-height: 2rem!important;
                        }
                    }
                }
            }
        }
    }
}