div.memberCard {
    @include _flex(row, space-between, center);
    @include _selectionOff();
    width: 90%;
    padding: .25rem .5rem;
    background-color: rgba($light4, .55);
    border-radius: .55rem;
    margin: .15rem auto;
    .userData {
        @include _flex(row, flex-start, center);
        cursor: pointer;
        #circleAvatar {
            @include _square(2rem);
        }
        .dataRow {
            @include _flex(column, center, flex-start);
            margin: 0 .5rem;
            .fullName {
                font-size: $fsize * .8;
                font-family: $BFont;
                line-height: 1;
                svg {
                    font-size: $fsize * .75;
                    margin-left: .25rem;
                    path {
                        color: $light3;
                    }
                }
            }
            .userName {
                font-size: $fsize * .7;
                font-family: $LFont;
                line-height: 1;
            }
        }
    }
    .memberOptions {
        @include _flex(row, flex-end, center);
        div.settingsOption {
            button {
                font-size: .75rem;
                padding: 0;
                width: 1.6rem;
                height: 1.6rem;
                margin: 0 .1rem;
            }
            .subOptions {
                top: 1.25rem;
                left: -7.7rem;
                z-index: 2;
                .hasOptions {
                    @include _flex(column, center, center);
                    &:hover {
                        background: $light4;
                    }
                    .moreOptions {
                        list-style: none;
                        font-size: $fsize * .6;
                        li {
                            border-radius: 5rem;
                            padding: .1rem .5rem;
                            &:hover {
                                background: $light5;
                            }
                        }
                    }
                }
            }
        }
    }
}
