//Colors
$purple: #6970d4;
$pink: #bf31a2;
$gold: #c1a962;
$green: #00c129;
$red: #df0000;
$silver: #c5c5c5;
$bronze: #c79059;
$dark0: #000000;
$dark1: #242537;
$dark2: #313348;
$dark3: #3d3f58;
$light1: #ffffff;
$light2: #dcdcdc;
$light3: #acafcb;
$light4: #515475;
$light5: #7a7ead;
$light6: #62679b;

//Fonts
$XLFont: 'Poppins_XL', Arial;
$LFont: 'Poppins_L', Arial;
$RFont: 'Poppins_R', Arial;
$MFont: 'Poppins_M', Arial;
$BFont: 'Poppins_B', Arial;
$XBFont: 'Poppins_XB', Arial;

//Screens size
$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;
$xl: 1399.98px;

//Sizes
$fsize: 12pt;