
$purple: #6970d4;
$dark0: #000000;
$dark1: #242537;
$dark2: #313348;
$dark3: #3d3f58;
$light1: #ffffff;
$light2: #dcdcdc;
$light3: #8d9aad;
$light4: #515475;
//Fonts
$XLFont: 'Poppins_XL', Arial;
$LFont: 'Poppins_L', Arial;
$RFont: 'Poppins_R', Arial;
$MFont: 'Poppins_M', Arial;
$BFont: 'Poppins_B', Arial;
$XBFont: 'Poppins_XB', Arial;

//Screens size
$xs: 575.98px;
$sm: 767.98px;
$md: 991.98px;
$lg: 1199.98px;

//sizes
$fsize: 12pt;