@import "./games_slider/games_slider";

section#gameWatcher {
    @include _flex(column, center, center);
    @include _selectionOff();
    min-height: calc(100vh - 10rem);
    @media (max-width: $sm) {
        width: auto;
    }
    .row {
        @include _flex(column, center, center);
        .noLiveGames {
            max-width: 100%;
            opacity: .75;
        }
        .navGames {
            position: relative;
            @include _flex(row, center, center);
            @include _selectionOff();
            .navButton {
                position: absolute;
                cursor: pointer;
                font-size: 2rem;
                left: -0.75rem;
                z-index: 5;
                @media (max-width: $md) {
                    font-size: 1.15rem;
                    left: -.5rem;
                }
                @media (max-width: $sm) {
                    font-size: 1.25rem;
                    left: -.5rem;
                }
                @media (max-width: $xs) {
                    font-size: 1rem;
                    left: -.25rem;
                }
                .path {
                    color: $purple!important;
                }
            }
        }
    }
}