span.achievement {
    @include _flex(row, center, center);
    font-size: $fsize;
    font-family: $BFont;
    text-transform: uppercase;
    img {
        min-width: 2rem;
        max-width: 2rem;
    }
    z-index: 6;
}