section#searchUser {
    @include _flex(column, center, center);
    position: relative;
    margin: .25rem 0;
    margin-top: .5rem;
    width: 90%;
    background: $light4;
    border-radius: 100rem;
    padding: .5rem;
    .searchInput {
        width: 100%;
        @include _flex(row, center, center);
        input#username {
            background: transparent;
            border: none;
            outline: none;
            font-size: $fsize * .75;
            &:focus {
                outline: none;
            }
            width: 100%;
        }
        svg {
            margin-right: .5rem;
            font-size: $fsize;
            path {
                color: $light3;
            }
        }
        ::placeholder {
            color: $light3;
        }
    }
    div.suggestions {
        position: absolute;
        background-color: $light4;
        top: 2rem;
        overflow: hidden;
        max-height: 15rem;
        border-radius: 1rem;
        width: 100%;
        padding: 0;
        margin-top: .15rem;
        ul#suggestions {
            @include _flex(column, flex-start, center);
            margin: 0;
            border-radius: 1rem;
            background-color: $light4;
            width: 100%;
            max-height: 15rem;
            overflow: auto;
            padding: 0;
            li {
                width: 100%;
                margin: 0;
                div.suggestionCard {
                    @include _flex(row, flex-start, center);
                    cursor: pointer;
                    padding: .4rem .75rem;
                    text-decoration: none;
                    font-size: $fsize * 1.1;
                    h6 {
                        margin-left: .5rem;
                    }
                }
                :hover {
                    background-color: $light5;
                }
            }
        }
    }
    z-index: 10;
}