section#searchUser {
    @include _flex(column, center, center);
    position: relative;
    margin: .25rem 0;
    margin-top: .5rem;
    width: 100%;
    .searchInput {
        width: 100%;
        position: relative;
        @include _flex(row, center, center);
        input#username {
            padding: .5rem .5rem;
            padding-left: 2rem;
            font-size: $fsize * .75;
            border: none;
            background-color: $light4;
            border-radius: 1rem;
            outline: none;
            width: 80%;
        }
        svg {
            position: absolute;
            top: .6rem;
            left: 9%;
            z-index: 5;
            @media(max-width: $sm) {
                left: 8%;
            }
            @media(max-width: $xs) {
                left: 7.25%;
            }
            path {
                color: $light3;
            }
        }
        ::placeholder {
            color: $light3;
        }
    }
    div.suggestions {
        position: absolute;
        top: 2.25rem;
        left: 0;
        background-color: $light4;
        overflow: hidden;
        max-height: 15rem;
        border-radius: 1rem;
        width: 100%;
        padding: 0;
        ul#suggestions {
            @include _flex(column, flex-start, center);
            margin: 0;
            border-radius: 1rem;
            background-color: $light4;
            width: 100%;
            max-height: 15rem;
            overflow: auto;
            padding: 0;
            li {
                width: 100%;
                margin: 0;
                div.suggestionCard {
                    @include _flex(row, flex-start, center);
                    cursor: pointer;
                    padding: .4rem .75rem;
                    text-decoration: none;
                    font-size: $fsize * 1.1;
                    h6 {
                        margin-left: .5rem;
                    }
                }
                :hover {
                    background-color: $light5;
                }
            }
        }
    }
    z-index: 10;
}